.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tm_section {
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  background-color: #d61c4e;
  border-radius: 30px;
  overflow: hidden;
  color: white;
}

.tgif_section {
  width: 90%;
  height: 800px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10vh;
  background-color: #f4ba8d;
  border-radius: 30px;
  overflow: hidden;
  color: white;
}

.mobile_bot_section {
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #f77e21;
  border-radius: 30px;
  margin-bottom: 10vh;
  overflow: hidden;
  color: white;
}

.bot_section {
  width: 90%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #f77e21;
  border-radius: 30px;
  margin-bottom: 10vh;
  overflow: hidden;
  color: white;
}

.tm_img {
  height: 100%;
  width: 61.8%;
  background-image: url("../public/images/info_tm.jpg");
  background-size: cover;
  background-position: center;
}

.tgif_img {
  height: 100%;
  width: 61.8%;
  background-image: url("../public/images/info_tgif.jpg");
  background-size: cover;
  background-position: -250px;
}

.why_img {
  height: 60%;
  width: 100%;
  background-image: url("../public/images/info_why.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 0px;
}

.mobile_text_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text_container {
  height: 100%;
  width: 38.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile_bot_text_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 30px;
  align-items: center;
}

.bot_text_container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding-bottom: 30px;
  align-items: center;
}

.text_title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  padding: 20px;
}

.text_content {
  text-align: left;
  padding: 30px;
  font-size: 20px;
  overflow-y: auto;
}
