.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: white;
  align-content: center;
  font-size: large;
  font-weight: 600;
}

.mobile_links {
  background-color: #074392;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer {
  width: 100%;
}

.children {
  margin-top: 10px;
  margin-bottom: 10px;
}
