.container {
  height: 150px;
  width: 100px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container:hover {
  cursor: pointer;
}

.profile_pic {
  height: auto;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.image {
  border-radius: 50%;
}

.profile_name {
  font-weight: 500;
}

.profile_title {
  font-weight: 200;
}
